<div class="container">
  <div class="card">
    <h2>Contact Us</h2>
    <hr />
    <div>
      <form
        [formGroup]="reactiveForm"
        (ngSubmit)="onSubmit()"
        novalidate
        *ngIf="reactiveForm"
      >
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Your name"
            formControlName="name"
            style="width: 80%"
          />
        </div>
        <small
          class="alert alert-danger"
          role="alert"
          *ngIf="
            reactiveForm.controls['name']?.errors &&
            reactiveForm.controls['name']?.touched
          "
        >
          Name is required*
        </small>
        <div class="form-group" formArrayName="emails">
          <label for="email">Your E-mail</label>
          <div class="ng-container">
            <ng-container *ngFor="let email of emails.controls; let i = index">
              <input
                type="text"
                class="form-control"
                id="email-{{ i }}"
                name="email-{{ i }}"
                placeholder="Your email {{ i + 1 }}"
                [formControlName]="i"
                style="margin-bottom: 10px"
              />
              <small
                class="alert alert-danger"
                role="alert"
                id="email-error-{{ i }}"
                *ngIf="getEmailValidity(i)"
              >
                {{ getEmailValidity(i) }}
              </small>
            </ng-container>
          </div>
          <button type="button" class="add-btn" (click)="addEmail()">
            Add
          </button>
        </div>

        <div class="form-group" formArrayName="phones">
          <label for="phone">Your Phone</label>
          <div class="ng-container">
            <ng-container *ngFor="let phone of phones.controls; let i = index">
              <input
                type="text"
                class="form-control"
                id="phone-{{ i }}"
                placeholder="Your phone {{ i + 1 }}"
                [formControlName]="i"
                style="margin-bottom: 10px"
              />
              <small
                class="alert alert-danger"
                role="alert"
                id="phone-error-{{ i }}"
                *ngIf="getPhoneValidity(i)"
              >
                {{ getPhoneValidity(i) }}
              </small>
            </ng-container>
          </div>
          <button type="button" class="add-btn" (click)="addPhone()">
            Add
          </button>
        </div>

        <div class="form-group">
          <label for="message">Your Message</label>
          <textarea
            type="text"
            class="form-control"
            id="message"
            name="message"
            placeholder="Please enter your message here..."
            formControlName="message"
          ></textarea>
        </div>
        <small
          class="alert alert-danger"
          role="alert"
          *ngIf="
            reactiveForm.controls['message'].errors &&
            reactiveForm.controls['message'].touched
          "
        >
          Message is required*</small
        >
        <button type="submit" class="btn btn-primary submit-btn">Submit</button>
      </form>
    </div>
  </div>
</div>
